h1{
    text-align: center;
    margin-top: auto;
    font-size: 40px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 5px;
    opacity: 90%;
    width: 55%;
    margin-left: 23%;
}

 h2,p{
    text-align: center;
    margin-top: auto;
    font-size: 25px;
    font-family:cursive;
    text-align: center;
    font-family: cursive;
    font-size: auto;
    margin: auto;
    padding-top: 2px;
    opacity: 80%;
    border: 0px solid #cca8e9;
    border-radius: none;
    color: #210646 ;
    font-kerning: auto;
}
body{
    background-color: bisque;
    background-image: url(https://media.istockphoto.com/id/617742228/photo/old-dirty-and-grunge-paper-texture.jpg?s=612x612&w=0&k=20&c=z1SEoVWBhV3TS2_ul5gahs4_Oeg3gWhqkZ3eSjHJ6Rc=);
    background-size: auto;
    font-family: Tahoma;
    font-size: 25px;
    width: 100%;
    height: 100vh;
    color: #210646;
    font-kerning: auto;
    font-optical-sizing: auto;
}
.quiz{
    width: 80%;
    background-color: papayawhip;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: auto;
    
}
.image , img{
    margin-right: auto;
}
.text-style{
    background-color:darksalmon;
    padding-bottom:20px;
}
hr{
    width: 50%;
    height: 2px;
    background-color: coral;
    margin-top: 0px;
 
}
a:visited{
    color: black;
}
a:hover{
    color: crimson;
}
a:active{
    color:indianred
}
.image{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
fieldset{
    background-color: burlywood;
    border: 0;
    border-radius: 20px 0 20px 0 ;
    opacity: 80%;

}
label{
    display: block;
    margin: 0.5rem 0;
    font-family: cursive;
}
legend{
    height: 30px;
    text-align: center;
    font-size: 20px;
    font: small-caps bold 24px/1 sans-serif;
    line-height: 2.5;
  }
.questions{
    width: 20;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}
button{
    display: block;
    width: 20%;
    margin: 1em auto;
    height: 2em;
    font-size: 10rem;
    background-color: #cca8e9;
    border-color: white;
    min-width: 200px;
    font: small-caps bold 24px/1 Impact;
    opacity: 80%;
    border-radius: 5px;
    border: 0;

}
form{
    margin: 0 auto;
    max-width : 800px;
    min-width: 300px;
    width: 600vw;
}