.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.linearBorder {
  padding: 5px; /* border thickness */
  background: linear-gradient(to bottom, #9800ff, rgba(0, 0, 0, 0));
  border-radius: 8px; /* optional */
  display: inline-block; /* shrink to fit inner content */
}
.linearBorder2 {
  padding: 5px; /* border thickness */
  background: linear-gradient(to top, #9800ff, rgba(0, 0, 0, 0));
  border-radius: 8px; /* optional */
  display: inline-block; /* shrink to fit inner content */
}
.module {
  background-color: #64617b;
  border-radius: 6px; /* slightly smaller than outer radius */
  padding: 1vh;
  color: white;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient(to bottom, #443f5f, #252237);
}

.dashboard-wrapper {
  
  width: 100%;
  background: linear-gradient(to bottom, #443f5f, #252237);
}


.custom-active {
  background-color: #71569d !important;
  color: white !important;
  border-color: #71569d !important;
}
.scroll {
  background-color: #55466e;
  border-radius: 6px; /* slightly smaller than outer radius */
  padding: 1vh;
  color: white;
}
.dashboard {
  
  width: 100%;
  background: linear-gradient(to bottom, #443f5f, #443f5f);
}